* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --primary-color: #10375c;
  --desc-color: #575f66;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* Common */
.container {
  width: 1170px;
  margin: 0 auto;
}

a {
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  text-decoration: none;
}

.btn {
  --height: 60px;
  padding: 0px 20px;
  min-width: 205px;
  height: var(--height);
  border-radius: 99px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: var(--height);
  outline: none;
  border: 1px solid #2e80ce;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section__desc {
  width: 468px;
  margin-top: 18px;
  color: var(--desc-color);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.section__heading {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

/* Header */
.header {
  padding-top: 30px;
  background: var(--primary-color);
  min-height: 100vh;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
}

.logo__img::before,
.logo__img::after {
  border-radius: 50%;
  display: inline-block;
}

.logo__img::after {
  content: "";
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background: #fff;
}

.logo__img::before {
  content: "";
  width: 3em;
  height: 3em;
  background: #2e80ce;
  position: relative;
}

.logo__text {
  color: #fff;
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  font-family: "Sora", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 77%;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* Navbar */
.navbar__link--active {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 4px 21px;
}

.navbar__link:hover {
  text-shadow: 1px 0 0 currentColor;
}

/* Action */
.header__action--login {
  margin-right: 7px;
}
.header__action--sign-up {
  --height: 44px;
  min-width: 104px;
  font-size: 1.6rem;
}

/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
}

.hero__action {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__link-more {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  padding: 15px;
  margin-left: 23px;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img:first-child {
  width: 330px;
  height: 540px;
  position: relative;
  right: -10px;
}

.hero__img:nth-child(2) {
  width: 210px;
  height: 410px;
}

/* Service */
.service {
  margin: 85px 0;
  padding: 85px 0;
}

.service__header {
  text-align: center;
}

.service__header-desc {
  display: inline-block;
  width: 468px;
}

.service__body {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__media {
  width: 49%;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service__info {
  align-items: center;
}

.service__item {
  display: flex;
  padding: 22px;
}

.service__item:hover {
  border-radius: 10px;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #eff6fd;
  transition: 0.25s;
}

.service__item:hover .service__item-icon {
  color: #fff;
  background-color: #2e80ce;
}

.service__item-info {
  margin-left: 19px;
}

.service__title {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.service__desc {
  margin-top: 8px;
  width: 351px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.service__btn {
  margin-top: 55px;
}

/* Work */
.works {
  margin: 85px 0;
  background: #f6fbff;
}

.work__body {
  padding: 100px 0;
}

.work__list {
  margin-top: 102px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.work-item {
  position: relative;
  padding: 43px;
  border-radius: 4px;
  border: 16px solid #eaf6ff;
  transition: 0.5s;
}

.work-item:hover {
  top: -16px;
  border: 16px solid #2e80ce;
}

.work__title {
  margin-top: 18px;
  color: var(--primary-color);
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
}

.work__desc {
  margin-top: 28px;
  color: var(--desc-color);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.work__link {
  display: inline-block;
  color: #2e80ce;
  font-weight: 400;
  margin-top: 18px;
}

/* Feature */
.feature {
  margin-top: 170px;
  margin-bottom: 85px;
}

.feature__body {
  display: flex;
  align-items: center;
  column-gap: 130px;
}

.feature__media {
  width: 49%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}

.feature__img:nth-child(2) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 332px;
  height: 370px;
}

.feature__btn {
  margin-top: 38px;
}

/* Member */
.members {
  margin-top: 170px;
  margin-bottom: 85px;
}

.member__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.member__btn {
  margin-top: 38px;
}

.member-list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;
}

.member__img-wrap {
  overflow: hidden;
}

.member-item:hover .member__img {
  transform: scale(1.1);
}

.member__img {
  width: 262px;
  height: 290px;
  object-fit: cover;
}

.member__title {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
}

.member__desc {
  color: var(--desc-color);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

/* Install */
.install {
  margin-top: 170px;
  margin-bottom: 85px;
  padding-top: 95px;
}

.install__body {
  background: #2e80ce;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.install__img {
  display: block;
  width: 284px;
  height: 522px;
  margin-top: -95px;
  object-fit: cover;
}

.install__content {
  margin-left: 160px;
  max-width: 586px;
}

.install__heading,
.install__desc {
  color: #fff;
}

.install__heading {
  max-width: 489px;
}

.install__desc {
  width: 100%;
}

.install__icons {
  margin-top: 38px;
  display: flex;
  gap: 28px;
  width: 135px;
  height: 40px;
}
